<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Catalog</title>
</head>

<body>
  <div class='headerDiv'>
    <h1>Catalog App</h1>
  </div>
  <div class='catalogDiv'>
    <h2>Catalog</h2>

    {% for category in categories %}
    <a href="{{url_for('showCategoryItems', category_id = category[0])}}">
      <p>{{category[1]}}</p>
    </a>
    {% endfor %}
    <a href="{{url_for('newCategory')}}"><h3>Create a new category</h3></a>
  </div>
  <div class='latestItemsDiv'>
    <p>
      <a href="{{url_for('newItem', init_category_id='NONE')}}">
        <h3>Create a new item</h3>
      </a>
    </p>
    <h2>Latest Items</h2>

    {% for item in latestItems %}
    <p>
      <a href="{{url_for('showItem', category_id=item[3],
        item_id=item[0])}}"><span>{{item[1]}}</span></a>
    </p>
    {% endfor %}
  </div>
</body>
</html>
