<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Catalog</title>
</head>

<body>
  <h1>Edit Item</h1>
  
  <form action="#" method='post'>
    <p>Name</p>
    <input type='text' size='30' name='name' value='{{item[1]}}'>
    <p>Description</p>
    <textarea cols='30' rows='5' name='description'>{{item[2]}}</textarea>
    <p>Category</p>
    <select name='category_id'>
      {% for category in allCategories %}
      {% if category[0]==item[3] %}
      <option value='{{category[0]}}' selected>
      {% else %}
      <option value='{{category[0]}}'>
      {% endif %}
        {{category[1]}}
      </option>
      {% endfor %}
    </select>
    <input type='submit' value='Save'>
    <a href="{{url_for('showItem', item_id=item[0],
      category_id=item[3])}}">Cancel</a>
  </form>
</body>
</html>
