<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Catalog</title>
</head>

<body>
  <div class='catalogDiv'>
    <h1>Catalog</h1>

    {% for category in allCategories %}
    <a href="{{url_for('showCategoryItems', category_id=category[0])}}">
      <p>{{category[1]}}</p>
    </a>
    {% endfor %}
  </div>
  <h1>{{item[1]}}</h1>
  <p>{{item[2]}}</p>
  <p>
    <a href="{{url_for('editItem', item_id=item[0],
      category_id=item[3])}}">Edit</a> |
    <a href="{{url_for('deleteItem', item_id=item[0],
      category_id=item[3])}}">Delete</a>
  </p>
</body>
</html>
